*{
    margin: 0px;
}
body{
    background-color: rgb(58, 6, 96);
}
.bg{
    display: flex;
   
}
.box1{
    width: 200px;
    flex-basis: 200px;
    height: 790px;
    background-color: black;
    color: white;
    flex-basis: 200px;

}

.ttx{
     font-style: italic;
   margin-top: 20px;
    margin-left: 50px;
}
.box2{
    height: 250px;
    background-color: white;
   flex-wrap: wrap;
    flex-basis:1200px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 50px;
    
}
.name{
    margin-top: 50px;
    margin-left: 40px;
}
#c1,.c1{
    color: goldenrod;
}
#c5,.c5{
    color: red;
}
.con1{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
   
}
.con1:hover{
    cursor: pointer;
   
}
a{
    text-decoration:none;
    color: white;
}
.move{
   background-color:white;
   color: black;
   width: 250px;
   height: 60px;
   text-align: center;
   border-radius: 5px;
   border-style: solid;
   border-color: black;
  margin-top:250px ;
  margin-left:500px ;
   animation: 2s infinite linear  op;

}
.text1{
    margin-right: 150px;
}
@keyframes op{
   50%{opacity: 0;}
}